<mat-toolbar class="ollama-toolbar">
  <span class="font-medium">{{ brand.productName }}</span>
  <span class="example-spacer"></span>
  <div>
    <button mat-button [matMenuTriggerFor]="modelMenu" [disabled]="availableModels().length === 0">
      <mat-icon>arrow_drop_down</mat-icon>
      {{ currentModel()?.name || 'Select model' }}
    </button>
    <mat-menu #modelMenu="matMenu">
      @for (model of availableModels(); track model.model) {
        <button mat-menu-item (click)="onModelChange(model)">
          {{ model.name }}
        </button>
      }
    </mat-menu>
  </div>
</mat-toolbar>
